[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov="*"
alchemy-mock = "*"
pysnooper = "*"
mock = "*"

[packages]
marshmallow="*"
flask-restplus = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
enum34="*"
pymysql = "*"
python-dotenv = "*"

[requires]
python_version = "3.6"
